.wrapper{
    position: relative;
    max-width: 100%;
    background-color: whitesmoke;
}

.content{
    position: relative;
    width: 100%;
    height: auto;
    float: left;
    background-color: salmon;
}


.upper{
    position: relative;
    width: 100%;
    height: auto;
    background-color: seagreen;
    display: flex;

}

.lower{
    position: relative;
    width: 100%;
    height: auto;
    background-color: slateblue;
    display: flex;
}