.wrapper{
    position: relative;
    max-width: 100%;
    background-color: #B0C4DE;
}

.content{
    position: relative;
    width: 100%;
    height: auto;
    float: left;
    display: flex;
    background-color: #B0C4DE;
    padding-top: 40px;

}
.homepage{
    position: relative;
    width: 100%;
    height: 800px;
    margin: 0 auto;
    margin-top: 40px;
    
}


.left{
    position: relative;
    width: 100%;
    height: 800px;
    background-color: #B0C4DE;
    display: flex;
    float: left;
}

.right{
    position: relative;
    width: 50%;
    height: 800px;
    background-color: #B0C4DE;
    display: flex;
    flex-direction: column;
}
.first{
    width: 100%;
}

.colors{
    position: relative;
    width: 70%;
    height: 500px;
    border: 20px solid black;
    margin: 0 auto;
    display: flex;
}

.colorone{
    width: 100%;
    background-color: #BC8F8F;
}
.colortwo{
    width: 100%;
    background-color: white;
}

.colorthree{
    width: 100%;
    background-color: #A9A9A9;
}

.colorfour{
    width: 100%;
    background-color: #E9967A;
}

.colorfive{
    width: 100%;
    background-color: purple;
}


