.container{
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 700px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
}

.header{
    position: relative;
    height: auto;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: #B0C4DE;
}

.objectives{
    position: relative;
    /* border: 2px solid blue; */
    text-align: left;
    padding-left: 50px;
}

.objective{
    border: 2px solid salmon;
    display: flex;
    justify-content: space-between;
}
.status {
    position: relative;
    width: 35px;
    height: 35px;
    background-color: springgreen;
}
.notcomp {
    position: relative;
    width: 35px;
    height: 35px;
    background-color: red;
}
.notcomp:hover {
    background-color: springgreen;
}


.adding{
    color: springgreen;
    border-bottom-style: solid;
    border-bottom-color: springgreen;

} 
.add{
    border-bottom-style: solid;
    border-bottom-color: springgreen;
}

.add:hover{
    color: springgreen;
}

.toadd{
    position: absolute;
    right: 15px;
    top: 0px;
}
