.container{
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 650px;
    background-color: white;
    text-align: center;
    /* border-radius: 20px; */
    padding: 10px;
        /* overflow: scroll; */

}
.new{
    position: relative;
    height: 150px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #DDA0DD;
    
}
.new textarea{

    width: 100%;
    font-size: 30px;
    margin-bottom: 15px;

}
.new Button{
    padding-top: 30px;
}

.header{
    position: relative;
    height: auto;
    margin-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-color: #B0C4DE;
}

.objectives{
    position: relative;
    overflow: auto;
    /* border: 2px solid blue; */
    height: 600px;
    text-align: left;


}

.item{
    position: relative;
    background-color: whitesmoke;
    display: flex;
    margin-top: 10px;
    height: 100px;
    padding-top: 35px;
    padding-left: 20px;
    display: flex;
    /* border-radius:  ; */
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-color: red;
}
.working{
    position: relative;
    background-color: whitesmoke;
    display: flex;
    margin-top: 10px;
    height: 100px;
    width: 100%;
    padding-top: 35px;
    padding-left: 20px;
    /* display: flex; */
    /* border-radius:  ; */
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-color: orange;
}
.complete{
    position: relative;
    background-color: whitesmoke;
    margin-top: 10px;
    height: 100px;
    display: flex;
    width: 100%;
    padding-top: 35px;
    padding-left: 20px;
    display: flex;
    /* border-radius:  ; */
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-color: springgreen;
}

.left{
    position: relative;
    width: 100%;
    /* text-align: center; */
}
.right{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.status {
    position: relative;
    width: 35px;
    height: 35px;
    background-color: springgreen;
}
.notcomp {
    position: relative;
    width: 35px;
    height: 35px;
    background-color: red;
}
.notcomp:hover {
    background-color: springgreen;
}


.adding{
    color: springgreen;
    border-bottom-style: solid;
    border-bottom-color: springgreen;

} 
.add{
    border-bottom-style: solid;
    border-bottom-color: springgreen;
}

.add:hover{
    color: springgreen;
}

.toadd{
    position: absolute;
    left: 15px;
    top: 0px;
}
.toadd:hover{
    color:  #DDA0DD;
}
.clear{
    position: absolute;
    right: 15px;
    top: 0px;
}