.container{
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: auto;
    background-color: white;
    text-align: center;
    /* border-radius: 20px; */
    padding: 10px;

}

.header{
    position: relative;
    height: auto;
    margin-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-color: #B0C4DE;
}


.items{
    position: relative;
    
    overflow: auto;
    height: 300px;
    /* border: 2px solid blue; */
    text-align: left;
    overflow: auto;

    /* padding-right: 50px; */
}