.container{
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 220px;
    background-color: white;
    text-align: center;
    /* border-radius: 20px; */
    /* padding: 10px; */
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    top: 30px;
}
.header{
    position: relative;
    height: auto;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: #B0C4DE;
}
.content{
    position: relative;
    overflow: auto;
    height: 200px;
    /* width: 100%; */
    text-align: left;
    
    /* border: 2px solid red; */

    /* padding-right: 50px; */
}
.content p{
    font-size: 20px;
}
.buttons {
    position: relative;
    
    text-align: center;
}

.description{
    /* overflow: auto; */
}
.edit{
    position: relative;
    height: 150px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #B0C4DE;
}
.edit textarea{
    width: 100%;
    font-size: 30px;
    margin-bottom: 15px;
}
/* .normal Button{
    position: relative;
    top: 0px;
    right: 0px;
} */
.normal p {
    /* position: relative; */
    top: 30px;
}