.container{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    background-color: sandybrown;
    text-align: center;
}
.questions{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    background-color: sienna;
}

