.container{
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;

    background-color: salmon;

}
.container h1{
    padding-top: 20px;

}
.header{
    position: relative;
    width: 100%;
    background-image: linear-gradient(#E0FFFF,#B0C4DE);
    height: 150px;
    /* padding-bottom: 40px; */
    text-align: center;
    
}
.header h2{
    position: relative;
    left: 0px;
}
/* .app{
    position: relative;
} */

.buttons{
    position: absolute;
    right: 0px;
    width: 20%;
    height: 150px;
    background-image: linear-gradient(#E0FFFF,#B0C4DE);
    /* padding-bottom: 40px; */
    text-align: center;
    padding-top: 20px;

}


.locations{
    position: relative;
    display: flex;
    width: 50%;
    justify-content: space-around;
    font-size: 40px;
}
