.container{
    position: relative;

    width: 60%;
    height: 1000px;

    background-color: white;
    margin: auto;
    /* border: 1px solid black; */
    text-align: center;
    padding: 0px;
}



.choice{
    position: relative;
    display: flex;
    width: 70%;
    height: 500px;
    top: 200px;
    margin: auto;
}
.tab{
    background-color: #87CEEB;
    padding: 5px;
}
.active{
    background-color: #E6E6FA;
    padding: 5px;

}
.tab:hover{
    background-color: #E6E6FA;


}
.side{
    width: 50%;
    float: left;
    /* padding: 20px; */
    color: white;
}

/* .side:hover {
    background-color: #E6E6FA;

} */
/* .side:hover h1{
    color: black;
} */