.container{
    position: relative;
  
    /* display: inline-block; */
    /* top: 50px; */
    width: 60%;
    height: auto;
    background-color: white;
    text-align: center;
    border: 2px solid black;
    margin: 0 auto;
}
.container:hover{
    background-color: whitesmoke;
}
.container h1{
    border-bottom-style: solid;
    border-bottom-color: cadetblue;
}


.container button{
    border-bottom-style: solid;
    border-bottom-color: cadetblue;
}
.container h3:hover {
    color: cadetblue
}