.container{
    height: 100vh;
    width: 100vw;
    background-color: #2e2e2e;
    /* justify-content: space-between; */
    display: flex;
    flex-direction: column;
}
.mainDeck{
    width: 60%;
    height: auto;
    margin: 0 auto;
}
.experiment{
    flex: 1;
    /* background-color: yellow; */
    margin: 20px;
    /* overflow: scroll; */


}
.card{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10pxmain;
    /* padding-top: 3px; */
    
    /* float: left;
    margin-bottom: 15px; */
    /* box-shadow: 0px 4px 10px 10px whitesmoke; */
    /* border: 5px solid #B0C4DE; */

}
.progressContainer{
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 340px;
    background-color: white;
    text-align: center;
    padding: 10px;
}
.item{
    position: relative;
    background-color: whitesmoke;
    display: flex;
    margin-top: 10px;
    height: 100px;
    padding-top: 35px;
    padding-left: 20px;
    display: flex;
    /* border-radius:  ; */
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-color: red;
}
.left{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #B0C4DE;
    display: flex;
    float: left;
    /* border: 4px solid red; */

}
.first{
    width: 100%;
    background-color: yellow;
}

.right{
    position: relative;
    width: 50%;
    height: auto;
    background-color: red;
    display: flex;
    /* border: 4px solid red; */

    flex-direction: column;
}
.projects{
    background-color: darkgray;
    /* border: 2px solid black; */
    border-radius: 20px;
    height: 500px;
}
.middleContent{
    background-color: yellow;
    text-align: center;

}
.middleContent p{
    margin-top: 15px;
}
.mainHeader{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.emptyContainer{
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 340px;
    /* background-color: white; */
    /* text-align: center; */
    /* border-radius: 20px; */
    padding: 10px;


}
.appheader{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(#00fa9a,#2e2e2e);
    height: auto;
    padding: 10px;
    /* padding-bottom: 40px; */
    /* text-align: center; */
}
.logoutButton{
    border: 2px red solid;
    padding: 3px;
    border-radius: 20px;
    align-self: center;
}
.inputSect{
    /* background-color: red; */
  
    width: 70%;
    margin: 0 auto;
    /* align-self: center; */
}
.inputHeader{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 30%;
    margin: 0 auto;
    /* background-color: rebeccapurple; */
}
.headerButton{
    padding: 5px;
    border: 3px yellow solid;
    border-radius: 20px;
}
.selectedheaderButton{
    padding: 5px;
    border: 3px yellow solid;
    border-radius: 20px;
    background-color: yellow;
}
.form{
    text-align: center;
    margin-top: 30px;
    /* background-color: yellow; */
    /* margin: 0 auto; */
}
.submitbutton{
    /* margin: 0 auto; */
    align-self: center;
    display: inline-flex;
    /* justify-content: center; */
    /* text-align: center;
    width: auto; */
    padding: 5px;
    border: 3px yellow solid;
    border-radius: 20px;
    background-color: yellow;
}








.projectSections{
    /* width: 100%; */
    display: flex;
    justify-content: space-around;

}
.sectionContainer{
    /* flex: 1; */
    position: relative;
    /* background-color: darkgray; */
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    overflow: scroll;
    max-height: 600px;
}








.progressHeader{
    display: flex;
    justify-content: space-between;
}
.selectedProgSect{
    padding: 5px;
    background-color: red;
    border: 2px solid red;
    border-radius: 20px;
}
.progSect{
    padding: 5px;
    border: 2px solid red;
    border-radius: 20px;
}
.storiesHeader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-color: #B0C4DE;
}
.storiesHeader div{
    flex: 1;
}
.story{
    margin-bottom: 20px;
    padding: 10px;
    border-left-style: solid;
    border-left-color: darkgray;
    border-left-width: 10px;
    background-color: darkgray;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.descriptionSide{
    text-align: left;
}
.storiEdit{
    background-color: transparent;
    display: flex;
}
.selectedStory{
    margin-bottom: 20px;
    padding: 10px;
    border-left-style: solid;
    border-left-color: rgb(53, 231, 178);
    border-left-width: 10px;
    background-color: rgb(53, 231, 178);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;

}